body {
    background-size: 1920px;
    background-color: black!important;

    border:black;
}

.border {

    border-color: black;
}

.c {
    margin: 30px;
    width: 450px;
    padding-right: auto;
}

a.nav-link {
    color: #90a4ae;
}

.color2 {
    color: #90a4ae;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

HEAD .cor {
    background-color: #90a4ae;
}

menu {
    background-color: black;
}


.btn2 {
    width: 470px;
    height: 60px;
    font-size: 25px;
}

.btn3 {
    font-size: 35px;
    background-color: black;
    color: chartreuse;
}

.nav-menu {
    background-color: black;
}

.nav-menu-brand {
    color: white !important;
}

.nav-menu-item {
    color: white;
}

.nav-menu-link {
    color: white !important;
}

.container-margin {
    margin-top: 60px;
}

.dropdown-toggle::after {
    content: none !important;
}

.menu {
    display: inline-block;
    text-align: center;
}

.cards {
    border: px solid rgb(255, 255, 255);
}

.btn-outline-primary {
    border-color: #90a4ae;
    color: #90a4ae;
}

